networks:
  traefik_net:
    name: traefik_net
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    command:
      - --log.level=INFO
      - --api.insecure=true
      - --api.dashboard=true
      - --entrypoints.web.address=:80
      - "--providers.file.directory=/etc/traefik/config"
      - "--providers.file.watch=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ./traefik_config.yml:/etc/traefik/config/dynamic.yml:ro
    networks:
      - traefik_net

  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    networks:
      - intercom
      - traefik_net

  sws:
    image: joseluisq/static-web-server:latest
    environment:
      - SERVER_ROOT=/srv
    volumes:
      - ./frontend:/srv
    networks:
      - traefik_net

  order-postgres:
    image: postgres:latest
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql/18/docker
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432